body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #4e9ed4, #1a487f);
  color: #000000;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1, h2 {
  color: #333;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 0 0 calc(33.33% - 20px);
  text-align: center;
  margin: 10px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #006405;
}

.carrinho {
  margin-top: 20px;
}

#carrinho-lista {
  list-style-type: none;
  padding: 0;
}

#carrinho-lista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#total {
  text-align: right;
}

#total-valor {
  font-weight: bold;
}

#remove-item {
  background-color: #ff3333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

#remove-item:hover {
  background-color: #cc0000;
}
